div#title > h2 {
  font-family: 'Pacifico', serif;
  font-size: 80px;
  color: white;
}

#title {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #A2BCC9;
  height: 350px;
  margin: 15px;
}

#title h1 {
  font-family: 'Playball', serif;
  font-size: 150px;
  color: white;
}

#search_container {
  background:
    linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin: 15px;
}

input {
    padding: 9px;
    border: solid 1px #E5E5E5;
    /*outline: 0;*/
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    /*background: #FFFFFF;*/
}

.form label {
    margin-left: 10px;
    color: #FFFFFF;
}

.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
}

.results_container {
  display: flex;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.restaurant_container {
  margin: 50px;
  border: 1px black solid;
  padding: 10px;
}


/* DRAG AND DROP ----------------------------------------------------------------
.gold_list_container {
  border: dotted 1px black;
  height: 500px;
}

#div1 {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}*/

#restaurant_column {
  padding: 5px;
}

.restaurant_name {
  width: 5px;
}

#lists {
  display: flex;
}


div#trash_list_container {
  width: 45%;
  border: dotted 1px gray;
  margin: 5px;
  padding: 10px;
}

div#gold_list_container {
  width: 35%;
  border: dotted 1px gray;
  margin: 5px;
  padding: 10px;
}

h5#trash {
  font-family: 'Pacifico', serif;
  font-size: 20px;
  color: black;
}

h5#gold {
  font-family: 'Pacifico', serif;
  font-size: 20px;
  color: black;
}

